Repository kyleavedana/ota: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, markdownlint-cli2

.lintstagedrc.json:

{
  "*.{js,ts}": ["prettier --write", "eslint"],
  "*.md": ["prettier --write", "markdownlint-cli2"]
}

init: install cspell
  .lintstagedrc.json
  cspell.dictionary.txt
  cspell.json
  package-lock.json
  package.json
Due: none

init: install @cspell/eslint-plugin
  .eslintrc.json
  package-lock.json
  package.json
Due: none

init: update scripts
  .gitignore
  .lintstagedrc.json
  package.json
Due: none

init: update eslint config
  .eslintrc.json
Due: none

init: setup express
  .gitignore
  package-lock.json
  package.json
  src/index.ts
  src/server.ts
Due: prettier --write, eslint

init: validate env
  package-lock.json
  package.json
  src/config.ts
  src/server.ts
Due: prettier --write, eslint

feat: create note endpoints
  package-lock.json
  package.json
  src/index.ts
  src/notes.ts
  src/routes.ts
Due: prettier --write, eslint

fix: update notes endpoint
  src/notes.ts
  src/routes.ts
Due: prettier --write, eslint

docs: update README.md
  README.md
  cspell.dictionary.txt
  package.json
Due: prettier --write, markdownlint-cli2

feat: setup swagger
  README.md
  package-lock.json
  package.json
  src/index.ts
  src/notes.ts
  src/swagger.json
  tsconfig.json
Due: prettier --write, eslint, markdownlint-cli2

docs: update README.md
  README.md
Due: prettier --write, markdownlint-cli2

feat: update validation
  src/notes.ts
  src/swagger.json
Due: prettier --write, eslint
